# Databases
*.db
*.sqlite
*.sqlite3
mti_assistant.db
mti_rag.db

# React & Node
**/node_modules/
**/dist/
.npm

# Python
.venv/
**/__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
**/.env
**/.env.*

# IDE & Vercel
.vercel/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.zip


